header,
nav,
ul {
  display: flex;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 20px 10px;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  align-items: center;
  padding-inline-start: 40px;
  border-bottom: 1px solid #e8e8e8;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  color: #0290ff;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-links {
  font-family: "Montserrat", sans-serif;
  font-size: 0.813rem;
  color: #121212;
  letter-spacing: 1.9px;
}

a {
  text-decoration: none;
  opacity: 0.5;
}

a.active {
  opacity: 1;
  color: #121212;
}

li a {
  color: #858694;
  border-right: solid 2px #858694;
  padding: 0 2em;
  font-size: 1.3em;
}

.nav-user {
  position: absolute;
  right: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 14px;
}

img {
  width: 4rem;
  cursor: pointer;
}
